.container {
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eae9e9;
}

.input-line-button {
    margin-top: 32px;
}

.result-line-row {
    margin-top: 10px;
}